<?php

$finder = PhpCsFixer\Finder::create()
//    ->exclude('somedir')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setCacheFile(__DIR__.'/.php_cs.cache')
    ->setIndent('    ')
    ->setRules([
        '@Symfony' => true,
        '@DoctrineAnnotation' => true,
        'array_syntax' => array('syntax' => 'short'),
        'no_singleline_whitespace_before_semicolons' => false,
        'phpdoc_no_package' => false,
        'phpdoc_var_without_name' => false,
    ])
     ->setFinder($finder)
;
